extends ./base/base

append variables
	- var title = 'Редактирование профиля пользователя'
	- var pageId = 'edit-profile'

block main
	.row.justify-content-center
		.col-xxl-10
			.profile
				header.profile__header(style="background-image: url('./images/profile/header.jpg')")
					.profile__back-profile
						a.btn.btn-light.py-2(
							href="/profile.html"
						)
							+icon("box-arrow-in-left").me-lg-2
							span.d-none.d-lg-inline Вернуться в профиль

					.profile__edit
						button.btn.btn-light.py-2(
							type="button"
							data-bs-toggle="modal"
							data-bs-target="#uploadFile"
						)
							+icon("image").me-lg-2
							span.d-none.d-lg-inline Загрузить картинку

					.profile__short-info
						.profile__avatar
							img.profile__avatar-img(src="./images/zaurmag.png" alt="Заур Магомедов")
							button.btn.btn-light.rounded-circle.profile__avatar-edit(
								type="button"
								data-bs-toggle="modal"
								data-bs-target="#uploadFile"
							)
								+icon("pencil")

						h2.h5.profile__name Заур Магомедов

				.profile__content
					.row.gy-lg-0.gy-4
						.col-lg-4
							+card
								nav.profile__nav
									ul.nav.nav-pills.flex-column
										each item, idx in dataEditProfileNav
											li.nav-item
												button.nav-link.w-100(
													type="button"
													data-bs-toggle="tab"
													data-bs-target= `#${item.id}`
													role="tab"
													class=[idx === 0 && 'active']
												)
													+icon(item.icon)
													span.nav-text= item.text

						// Основная информация
						.tab-content.col-lg-8.col-12
							.tab-pane.active(role="tabpanel" id= dataEditProfileNav[0].id)
								+card('Основная информация')
									.mb-3
										label.form-label(for="name") Имя
										input.form-control.py-2#name(type="text" value="Заур Магомедов")

									.mb-3
										label.form-label(for="email") E-mail
										input.form-control.py-2#email(type="email" value="demo@zaurmag.ru")

									.mb-4
										label.form-label(for="phone") Телефон
										input.form-control.py-2#phone(type="text" value="+7 (906) 449-55-44")

									.mb-4
										label.form-label(for="address") Адрес
										input.form-control.py-2#address(type="text" value="г. Каспийск")

									p.form-label О себе
									.w-editor.mb-4
										.w-editor__container#editor
											p Я программист - фронтенд-разработчик. Работаю удаленно в IT-компании. Постоянно учусь и развиваюсь в своей сфере. Здесь без этого нельзя. Веду свой блог zaurmag.ru.
											p Женат, имею троих детей - девочки. Все они школьники.

									button.btn.btn-primary.py-2.px-3(type="submit") Сохранить

							// Сменить пароль
							.tab-pane(role="tabpanel" id= dataEditProfileNav[1].id)
								+card('Сменить пароль')
									.mw-lg-50
										.mb-3
											label.form-label(for="password") Пароль
											input.form-control.py-2#password(type="password")

										.mb-4
											label.form-label(for="password2") Повторить пароль
											input.form-control.py-2#password2(type="password")

										button.btn.btn-primary.py-2.px-3(type="submit") Сохранить

							// Настройки
							.tab-pane.h-100(role="tabpanel" id= dataEditProfileNav[2].id)
								+card('Настройки').h-100

							// Удалить аккаунт
							.tab-pane(role="tabpanel" id= dataEditProfileNav[3].id)
								+card('Удалить аккаунт')
									p Вы действительно хотите удалить свою учетную запись? Операцию нельзя будет отменить!

									form(action="#")
										.mb-4.mw-lg-50
											label.form-label Введите слово "DELETE" для подтверждения
											input.form-control(type="text")

										.text-end
											button.btn.btn-danger.px-3(type="submit") Удалить

append endBody
	+modal('uploadFile', 'Загрузить файл', '', true)
		+fUpload
